* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 1280px;
}

:root {
  --brand-color: #ef5f4c;
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  font-family: Poppins;
  font-size: 14px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 32px;
  background: var(--surface-color, #f5f5f5);
}

#logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

#logo-brand {
  color: var(--brand-color, #ef5f4c);
  font-size: 20px;
  font-weight: 700;
  line-height: 160%;
}

#navbar {
  display: flex;
  align-items: center;
  gap: 16px;

  color: var(--text-color-secondary, #6c6c6c);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

#nav-search {
  width: 24px;
  height: 24px;
}

#nav-avatar {
  width: 40px;
  height: 40px;
}

#about {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  background: var(--surface-color, #f5f5f5);
}

#about-main {
  display: flex;
  width: 592px;
  gap: 32px;
}

#about-img {
  width: 176px;
  height: 176px;
}

h1 {
  color: var(--text-color-primary);
}

p,
li {
  color: var(--text-color-secondary);
}

#about-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#about-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

#about-meta-item {
  display: flex;
  gap: 8px;
  width: 280px;
  align-items: center;
}

#about-meta img {
  width: 24px;
  height: 24px;
}

#gallery img {
  width: 286px;
  height: 286px;
  flex-shrink: 0;
}

#gallery {
  padding: 24px 32px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

footer {
  display: flex;
  padding: 24px 32px;
  justify-content: space-between;
}

footer p {
  color: var(--text-color-secondary);
}
